<!DOCTYPE html>
<html lang="en" ng-app="folhaLimpaApp">
    <head>
        <title>Folha Limpa</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="/static/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet">
        <link href="/style.css" rel="stylesheet">

        <script src="/node_modules/angular/angular.js"></script>
        <script src="/node_modules/countup.js/dist/countUp.js"></script>
        <script src="/node_modules/countup.js/dist/angular-countUp.js"></script>
        <script src="/node_modules/angular-smart-table/dist/smart-table.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/node_modules/datatables.net/js/jquery.dataTables.js"></script>
        <script src="/node_modules/datatables.net-bs/js/dataTables.bootstrap.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

        <script src="/node_modules/d3/d3.js"></script>
        <script src="/node_modules/d3plus/d3plus.js"></script>
        <script src="app/angular-d3plus.js"></script>

        <script src="/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="/node_modules/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 top-bar">
                    <h1><a href="/">Folha Limpa</a></h1>
                </div>
            </div>
        </div>

        <div class="container internal-content" ng-controller="InternalController" data-ng-init="updateData()">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Abraão da Silva</h2>
                    <p class="time-period">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    jan/2017 - abr/2017</p>
                </div>
            </div>

            <div class="row stats">
                <div class="col-lg-4">
                    <h3>Número de Pagamentos</h3>
                    <p class="value" count-up end-val="312" duration="1.5" reanimate-on-click="false" >312</p>
                </div>

                <div class="col-lg-4">
                    <h3>Total Recebido</h3>
                    <p class="value">R$ <span count-up end-val="613425.23" duration="1.5" decimals="2" reanimate-on-click="false"  options="{decimal: ',', separator: '.'}">613.425,23</span></p>
                </div>
                <div class="col-lg-4">
                    <h3>Mediana dos Pagamentos</h3>
                    <p class="value"> R$ <span count-up end-val="1422.92" duration="1.5" decimals="2" reanimate-on-click="false"  options="{decimal: ',', separator: '.'}">1.422,92</span>
                </div>
            </div>

            <div class="row view-buttons">
                <div class="col-lg-12">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-class="{active: activeButton === 'chart'}" ng-click="setActiveButton('chart')">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            Gráfico
                        </button>
                        <button type="button" class="btn btn-default" ng-class="{active: activeButton === 'table'}" ng-click="setActiveButton('table')">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            Tabela
                        </button>
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-share" aria-hidden="true"></i>
                            Exportar
                        </button>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="activeButton === 'chart'">
                <div class="col-lg-12 viz">
                    <d3plus-bar elementid="barchart" data="baseData" id="name" x="data" y="valor" format="pt_BR" resize="true" style="height: 400px"></d3plus-bar>
                </div>
            </div>

            <div class="row" ng-show="activeButton === 'table'">
                 <div class="col-lg-12">
                    <table st-table="tableData" st-safe-src="tableDataX" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>                                
                                <th colspan="2">
                                    <input st-search placeholder="Procurar" class="input-sm form-control" type="search" />
                                </th>
                            </tr>
                            <tr>
                                <th st-sort="name">Nome</th>
                                <th st-sort="pagamento">Pagamento</th>                            
                            </tr>         
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in tableData">
                                <td>{{row.name}}</td>
                                <td>{{row.pagamento}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                 </div>
            </div>            

            <div class="row">
                <div class="col-lg-12">
                    <h3>Faça sua Análise</h3>
                </div>
            </div>

            <div class="row form-inline">
                <form action="" method="post" class="search-form">
                    <div class="form-group">
                        <label for="name">Análise:</label> 
                        <select id="card" name="usercard" class="form-control">
                            <option value="visa">Pagamentos</option>
                            <option value="mc">Acúmulo de cargos</option>
                        </select>

                        <label for="name">Unidade Gestora:</label>
                        <input type="text" id="name" name="user_name" class="form-control large-input">
                        
                        <label for="name">De:</label>
                        <input type="text" id="name" name="user_name" class="form-control date-field" data-provide="datepicker" data-date-format="dd/mm/yyyy">

                        <label for="name">Até:</label>
                        <input type="text" id="name" name="user_name" class="form-control date-field" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                        
                        <button type="submit" class="btn btn-default">Analisar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row footer">
                <div class="col-lg-12">
                    Projeto desenvolvido no Hackfest 2017
                </div>
            </div>
        </div>

        <script src="app/app.js"></script>
    </body>
</html>
