body {
    font-family: sans-serif;
}

.main-image {
    background: linear-gradient(rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.7) 65%, #033649 100%), url("static/images/tambaba.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    padding-bottom: 30px;
}

.main-title {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
    letter-spacing: 3px;
}

.menu {
    position: absolute;
    top: 15px;
    right: 30px;
}

.menu a {
    color: #fff;
    margin-left: 10px;
}

.main-title img {
    margin-bottom: 12px;
}

.search {
    color: #ffffff;
    font-size: 26px;
    text-align: center;
    margin-top: 50px;
}

.search-button {
    text-align: center;
    margin-top: 20px;
}

.analisar {
    color: #fff;
    background-color: #19B5FE;
    border-color: #0e5570;
}

.analisar:hover {
    color: #fff;
    background-color: #019be3;
    border-color: #0e5570;
}

.descricao {
    background-color: #033649;
    color: #fff;
    text-align: center;
    padding: 70px 10px 50px 10px;
    letter-spacing: 1px;
}

.descricao h3 {
    color: #e3f3f9;
    margin-bottom: 12px;
    letter-spacing: 1px;
}

.data {
    background-color: #033649;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.data .icon {
    font-size: 42px;
    margin-bottom: 0;
}

.data h2 {
    color: #e3f3f9;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.data h3 {
    margin-top: 0;
    color: #fff;
}

.data p {
    font-size: 18px;
    margin-bottom: 2px;
}

.main-content-title {
    background-color: #033649;
    text-align: center;
    padding-top: 50px;
}

.main-content-title h2 {
    color: #e3f3f9;
    letter-spacing: 2px;
}

.main-content {
    background-color: #033649;
    padding: 30px 0 24px 0;
}

.preset-query {
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    border: #d1ffed 2px solid;
    height: 250px;
    width: 300px;
    margin: 0 auto;
}

.preset-query p {
    padding: 0 12px;
}

.preset-bg {
    height: 250px;
    width: 300px;
    background-image: url("static/images/bayeux.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    transition: all .1s ease-in-out
}

.preset-bg-holder {
    position: absolute;
    top: 0;
    height: 247px;
    width: 296px;
    overflow: hidden;
}

.preset-bg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 247px;
    width: 296px;

    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7) 90%);
}

.preset-query:hover .preset-bg {
    filter: blur(3px);
    transform: scale(1.25); 
}

.preset-query p {
    opacity: 1.0;
    color: #fff;
    z-index: 1;
}

a.no-underline:hover {
    text-decoration: none;
}

div.unidade-picker {
    width: 300px !important;
}

.unidade-picker button.selectpicker {
    font-size: 18px;
    width: 300px;
    height: 46px;
}

.footer {
    color: #fff;
    padding: 12px 24px;
    background-color: #031634;
    text-align: center;
}

/*inside html*/

.chart-title {
    margin: 32px 0 0 0;
}

#fl-interno .top-bar {
    color: #fff;
    background-color: #031634;
    padding: 12px 0 8px 0;
    text-align: center;
}

#fl-interno .top-bar a {
    color: #fff;
}

#fl-interno .top-bar a:hover {
    color: #ccc;
    text-decoration: none;
}

#fl-interno .top-bar h1 {
    font-size: 22px;
    margin: 0;
}

#fl-interno .internal-content {
    text-align: center;
}

#fl-interno h2 {
    color: #033649;
    margin: 30px 0 3px 0;
    /* font-weight: bold; */
}

#fl-interno .time-period {
    color: #999;
}

#fl-interno .stats {
    margin: 0 0 24px 0;
}


#fl-interno .viz {
    margin: 12px 0 24px 0;
}

#fl-interno .stats h3 {
    font-size: 15px;
    margin-bottom: 0;
}

#fl-interno .value {
    font-size: 26px;
    font-weight: bold;
}

#fl-interno h3 {
    color: #033649;
}

#fl-interno label {
    display: inline;
    margin-left: 12px;
}

#fl-interno .form-control {
    height: 40px;
}

#fl-interno .btn {
    margin-bottom: 2px;
}

#fl-interno .uib-datepicker-popup table {
    margin-bottom: 0;
}

#fl-interno .uib-datepicker-popup th {
    padding: 0;
    vertical-align: middle;
}

#fl-interno .uib-datepicker-popup td {
    padding: 0;
}

#fl-interno .uib-datepicker-popup tr {
    border-width: 0;
}

#fl-interno .uib-datepicker-popup thead {
    border-width: 0;
}

#fl-interno ul li {
    padding-right: 5px;
}

#fl-interno tbody a {
    color: #1b8bbf;
}

#fl-interno tfoot li {
    padding: 0;
}



.search-form {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 12px 0;
    margin: 0 24px 24px 36px;
}

.search-form input, .search-form select {
    margin-right: 18px;
}

.form-inline input.date-field {
    width: 100px
}

.form-inline input.large-input {
    width: 250px
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

th {
    text-align: center;
}

td {
    width: 522px;
}


.period-alert {
    padding: 24px 32px;
    margin-top: 48px;
    margin-bottom: 32px;
}

.period-alert h3 {
    color: #8a6d3b;
    margin: 0;
    line-height: 32px;
}

.autocompletetext {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

.datepicker + div {
    display: inline;
}

.chart-loading {
    margin-top: 60px;
}

.chart-loading p {
    margin-top: 12px;
}

#timeline {
    display: none;
}


.faq {
    text-align: left;
}

.faq h2 {
    text-align: center;
}

.faq h3 {
    margin-top: 40px;
}

.faq + div {
    margin-top: 40px;
}

.index-form {
    font-size: 26px;
    margin: 48px 0 48px 0;
}

.index-form select {
    line-height: 24px;
}

#banner .index-form ul {
    padding: 0;
}

#banner .index-form .dropdown-menu a {
    color: #000;
}

#banner .column .data-info {
    margin-bottom: 0;
}

#banner .unidade-picker, #banner .selectpicker {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    color: #555;
}


@media screen and (max-width: 938px) {
    #banner .data-icons {
        display: none;
    }
}

#banner .data-icons {
    width: 938px;
}

@media screen and (max-width: 938px) {
    #nav {
        display: none;
    }
}
