<!DOCTYPE html>
<html lang="en" ng-app="folhaLimpaApp">
    <head>
        <title>Folha Limpa</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="/static/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/style.css" rel="stylesheet">

        <script src="/node_modules/angular/angular.js"></script>
        <script src="/node_modules/d3/d3.js"></script>
        <script src="/node_modules/d3plus/d3plus.js"></script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 top-bar">
                    <h1><a href="/">Folha Limpa</a></h1>
                </div>
            </div>
        </div>

        <div class="container internal-content"  ng-controller="InternalController">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Gastos na Câmara Municipal de Cabedelo</h2>
                    <p class="time-period">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    jan/2017 - abr/2017</p>
                </div>
            </div>

            <div class="row stats">
                <div class="col-lg-4">
                    <h3>Número de Pagamentos</h3>
                    <p class="value">312</p>
                </div>

                <div class="col-lg-4">
                    <h3>Total Recebido</h3>
                    <p class="value">R$ 613.425,23</p>
                </div>
                <div class="col-lg-4">
                    <h3>Mediana dos Pagamentos</h3>
                    <p class="value">R$ 1.422,92</p>
                </div>
            </div>

            <div class="row view-buttons">
                <div class="col-lg-12">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-class="{active: activeButton === 'chart'}" ng-click="setActiveButton('chart')">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            Gráfico
                        </button>
                        <button type="button" class="btn btn-default" ng-class="{active: activeButton === 'table'}" ng-click="setActiveButton('table')">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            Tabela
                        </button>
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-share" aria-hidden="true"></i>
                            Exportar
                        </button>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="activeButton === 'chart'">
                <div class="col-lg-12">
                    <div id="viz" style="height:400px;"></div>
                </div>
            </div>

            <div class="row" ng-show="activeButton === 'table'">
                 <div class="col-lg-12">
                     <h2>Dados</h2>
                     <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>   
                 </div>
            </div> 

            <div class="row">
                <div class="col-lg-12">
                    <h3>Faça sua Análise</h3>
                </div>
            </div>

            <div class="row form-inline">
                <form action="" method="post" class="search-form">
                    <div class="form-group">
                        <label for="name">Análise:</label> 
                        <select id="card" name="usercard" class="form-control">
                            <option value="visa">Pagamentos</option>
                            <option value="mc">Acúmulo de cargos</option>
                        </select>

                        <label for="name">Unidade Gestora:</label>
                        <input type="text" id="name" name="user_name" class="form-control large-input">

                        <label for="name">De:</label>
                        <input type="text" id="name" name="user_name" class="form-control date-field" data-provide="datepicker" data-date-format="dd/mm/yyyy">

                        <label for="name">Até:</label>
                        <input type="text" id="name" name="user_name" class="form-control date-field" data-provide="datepicker" data-date-format="dd/mm/yyyy">

                        <button type="submit" class="btn btn-default">Analisar</button>
                    </div>
                </form>
            </div>



        </div>

        <div class="container-fluid">
            <div class="row footer">
                <div class="col-lg-12">
                    Projeto desenvolvido no Hackfest 2017
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/node_modules/datatables.net/js/jquery.dataTables.js"></script>
        <script src="/node_modules/datatables.net-bs/js/dataTables.bootstrap.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

        <script src="cabedelo.js"></script>
        <script>
var visualization = d3plus.viz()
                .container("#viz")
                .data(window.cabedelo_data)
                .type("tree_map")
                .id("name")
                .size("pagamento")
                .format("pt_BR")
                .draw()

            $(document).ready(function () {
                var sample_data = [[100, "alpha", 0.9],
                    [70, "beta", 0.4],
                    [40, "gamma", 0.3]];

                $('#datatable').DataTable({
                    "paging": false,
                    data: sample_data,
                    columns: [
                        { title: "Pagamento" },
                        { title: "Name" },
                        { title: "Growth" },
                    ],
                    language: {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar: ",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }
                });
            });
        </script>
        <script src="app/app.js"></script>

    </body>

</html>
